<h1>Browse Islands</h1>

<% @islands.each do |island| %>
  <%= link_to island_path(island) do %>
    <h3><%= island.name %></h3>
  <% end %>
  <p><%= island.description %></p>
  <% island.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
